@using Microsoft.Extensions.Options
@model HomeIndexViewModel
@inject IOptions<HomeOption> OptionsAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-8"><h2>Environment Variables</h2></div>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var env in @Model.EnvVars)
        {
            <tr>
                <td>@env.Key</td>
                <td>@env.Value</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-lg-8"><h2>Options</h2></div>
    <table class="table">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Option1:</td>
            <td>@OptionsAccessor.Value.Option1</td>
        </tr>
        <tr>
            <td>Option2:</td>
            <td>@OptionsAccessor.Value.Option2</td>
        </tr>
        <tr>
            <td>SubOption1:</td>
            <td>@OptionsAccessor.Value.SubOption1</td>
        </tr>
        </tbody>
    </table>
    <div class="col-lg-8">
        <p>You can specify option with OpenShift configmaps.</p>
        <pre><code>
        $ vim appsetting.json
{
  "Option1": "Ignite!!",
  "Option2": "2017",
  "subsection": {
    "SubOption1": "Container is Linux"
  }
}
        $ oc create configmap demo-appsetting --from-file=appsettings.json
        $ oc volume dc/&lt;deployment_config_name&gt; --add --type=configmap --configmap-name=demo-appsetting --mount-path=/etc/data
        </code></pre>
    </div>
</div>
